{
  "openapi": "3.2.0",
  "info": {
    "title": "Site Audit",
    "description": "Site audit.",
    "termsOfService": "https://ahrefs.com/terms",
    "contact": {
      "name": "Ahrefs",
      "url": "https://ahrefs.com/",
      "email": "support@ahrefs.com"
    },
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.ahrefs.com/v3/site-audit",
      "description": "Ahrefs Site Audit"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "tags": [ "Projects", "MCP" ],
        "summary": "Project Health Scores",
        "description": ">Requests to this endpoint are free and do not consume any API units.",
        "operationId": "projects",
        "parameters": [
          {
            "description": "The unique identifier of the project. You can find it in the URL of your Site Audit project in Ahrefs: `https://app.ahrefs.com/site-audit/#project_id#`",
            "required": false,
            "explode": false,
            "schema": { "type": "integer" },
            "name": "project_id",
            "in": "query"
          },
          {
            "description": "A timestamp in `YYYY-MM-DDThh:mm:ss` format specifying the crawl date to retrieve metrics from. Defaults to the most recent available crawl if omitted. For scheduled crawls, we return data from the latest crawl finished before the specified timestamp. For Always-on audit crawls, we return data as of the provided date and time. If the time component is omitted, it defaults to `00:00:00`. The timestamp is interpreted in UTC.",
            "required": false,
            "explode": false,
            "schema": { "type": "string", "format": "date-time" },
            "name": "date",
            "in": "query"
          },
          {
            "description": "Filters projects by name.",
            "required": false,
            "explode": false,
            "schema": { "type": "string" },
            "name": "project_name",
            "in": "query"
          },
          {
            "description": "Filters projects by target URL (ignores protocol and trailing slash).",
            "required": false,
            "explode": false,
            "schema": { "type": "string" },
            "name": "project_url",
            "in": "query"
          },
          { "$ref": "#/components/parameters/output" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/projects" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/projects" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error_400" },
          "401": { "$ref": "#/components/responses/error_401" },
          "403": { "$ref": "#/components/responses/error_403" },
          "429": { "$ref": "#/components/responses/error_429" },
          "500": { "$ref": "#/components/responses/error_500" }
        }
      }
    },
    "/page-content": {
      "get": {
        "tags": [ "Page content", "MCP" ],
        "summary": "Page content",
        "description": ">This endpoint consumes a fixed cost of 50 API units per request.",
        "operationId": "page-content",
        "parameters": [
          {
            "description": "A comma-separated list of fields to return.\n\n- `crawl_datetime`\n- `page_text`\n- `page_text_md`\n- `raw_html`\n- `rendered_html`",
            "required": true,
            "explode": false,
            "schema": { "type": "string" },
            "name": "select",
            "in": "query"
          },
          {
            "description": "The unique identifier of the project. Only projects with verified ownership are supported. You can find the project ID in the URL of your Site Audit project in Ahrefs: `https://app.ahrefs.com/site-audit/#project_id#`",
            "required": true,
            "explode": false,
            "schema": { "type": "integer" },
            "name": "project_id",
            "in": "query"
          },
          {
            "description": "The URL of the page to retrieve content for.",
            "required": true,
            "explode": false,
            "schema": { "type": "string", "format": "url" },
            "name": "target_url",
            "in": "query"
          },
          {
            "description": "A timestamp in `YYYY-MM-DDThh:mm:ss` format specifying the crawl date to retrieve metrics from. Defaults to the most recent available crawl if omitted. For scheduled crawls, we return data from the latest crawl finished before the specified timestamp. For Always-on audit crawls, we return data as of the provided date and time. If the time component is omitted, it defaults to `00:00:00`. The timestamp is interpreted in UTC.",
            "required": false,
            "explode": false,
            "schema": { "type": "string", "format": "date-time" },
            "name": "date",
            "in": "query"
          },
          { "$ref": "#/components/parameters/output_json_php" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/page-content" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/page-content" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error_400" },
          "401": { "$ref": "#/components/responses/error_401" },
          "403": { "$ref": "#/components/responses/error_403" },
          "429": { "$ref": "#/components/responses/error_429" },
          "500": { "$ref": "#/components/responses/error_500" }
        }
      }
    },
    "/issues": {
      "get": {
        "tags": [ "Projects", "MCP" ],
        "summary": "Project Issues",
        "description": ">This endpoint consumes a fixed cost of 50 API units per request.",
        "operationId": "issues",
        "parameters": [
          {
            "description": "The unique identifier of the project. You can find it in the URL of your Site Audit project in Ahrefs: `https://app.ahrefs.com/site-audit/#project_id#`",
            "required": true,
            "explode": false,
            "schema": { "type": "integer" },
            "name": "project_id",
            "in": "query"
          },
          {
            "description": "A timestamp in `YYYY-MM-DDThh:mm:ss` format specifying the crawl date to retrieve metrics from. Defaults to the most recent available crawl if omitted. For scheduled crawls, we return data from the latest crawl finished before the specified timestamp. For Always-on audit crawls, we return data as of the provided date and time. If the time component is omitted, it defaults to `00:00:00`. The timestamp is interpreted in UTC.",
            "required": false,
            "explode": false,
            "schema": { "type": "string", "format": "date-time" },
            "name": "date",
            "in": "query"
          },
          {
            "description": "A timestamp in `YYYY-MM-DDThh:mm:ss` format specifying the crawl date to compare metrics with. Follows the same rules as the `date` field.",
            "required": false,
            "explode": false,
            "schema": { "type": "string", "format": "date-time" },
            "name": "date_compared",
            "in": "query"
          },
          { "$ref": "#/components/parameters/output" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/issues" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/issues" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error_400" },
          "401": { "$ref": "#/components/responses/error_401" },
          "403": { "$ref": "#/components/responses/error_403" },
          "429": { "$ref": "#/components/responses/error_429" },
          "500": { "$ref": "#/components/responses/error_500" }
        }
      }
    },
    "/page-explorer": {
      "get": {
        "tags": [ "Page explorer", "MCP" ],
        "summary": "Page explorer",
        "description": ">This endpoint consumes a fixed cost of 50 API units per request.",
        "operationId": "page-explorer",
        "parameters": [
          {
            "description": "A manual timeout duration in seconds.",
            "required": false,
            "explode": false,
            "schema": { "type": "integer" },
            "name": "timeout",
            "in": "query"
          },
          {
            "description": "The number of results to return.",
            "required": false,
            "explode": false,
            "schema": { "type": "integer", "default": 1000 },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "The number of results to skip.",
            "required": false,
            "explode": false,
            "schema": { "type": "integer" },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "A field to order the results by, with optional direction. Format: `field_name:asc` or `field_name:desc` (default `desc`).\n\n- `ai_content_level`\n- `ai_content_level_prev`\n- `ai_content_status`\n- `ai_content_status_prev`\n- `allowed_search_bots`\n- `allowed_search_bots_prev`\n- `allowed_training_bots`\n- `allowed_training_bots_prev`\n- `alternate`\n- `alternate_diff`\n- `alternate_prev`\n- `backlinks`\n- `backlinks_diff`\n- `backlinks_prev`\n- `blocked_search_bots`\n- `blocked_search_bots_prev`\n- `blocked_training_bots`\n- `blocked_training_bots_prev`\n- `canonical`\n- `canonical_code`\n- `canonical_code_prev`\n- `canonical_counts`\n- `canonical_counts_diff`\n- `canonical_counts_prev`\n- `canonical_group_hash`\n- `canonical_group_hash_prev`\n- `canonical_is_canonical`\n- `canonical_is_canonical_prev`\n- `canonical_no_crawl_reason`\n- `canonical_no_crawl_reason_prev`\n- `canonical_prev`\n- `canonical_scheme`\n- `canonical_scheme_prev`\n- `compliant`\n- `compliant_prev`\n- `compression`\n- `compression_prev`\n- `content_encoding`\n- `content_encoding_prev`\n- `content_length`\n- `content_length_diff`\n- `content_length_prev`\n- `content_nr_word`\n- `content_nr_word_diff`\n- `content_nr_word_prev`\n- `content_type`\n- `content_type_prev`\n- `css_no_crawl_reason`\n- `css_no_crawl_reason_prev`\n- `curl_code`\n- `curl_code_prev`\n- `depth`\n- `depth_diff`\n- `depth_prev`\n- `dofollow`\n- `dofollow_diff`\n- `dofollow_prev`\n- `domain`\n- `duplicate_content`\n- `duplicate_content_canonical_hreflang`\n- `duplicate_content_canonical_hreflang_diff`\n- `duplicate_content_canonical_hreflang_prev`\n- `duplicate_content_diff`\n- `duplicate_content_prev`\n- `duplicate_description`\n- `duplicate_description_canonical_hreflang`\n- `duplicate_description_canonical_hreflang_diff`\n- `duplicate_description_canonical_hreflang_prev`\n- `duplicate_description_diff`\n- `duplicate_description_prev`\n- `duplicate_group_identifier`\n- `duplicate_group_identifier_prev`\n- `duplicate_h1`\n- `duplicate_h1_canonical_hreflang`\n- `duplicate_h1_canonical_hreflang_diff`\n- `duplicate_h1_canonical_hreflang_prev`\n- `duplicate_h1_diff`\n- `duplicate_h1_prev`\n- `duplicate_title`\n- `duplicate_title_canonical_hreflang`\n- `duplicate_title_canonical_hreflang_diff`\n- `duplicate_title_canonical_hreflang_prev`\n- `duplicate_title_diff`\n- `duplicate_title_prev`\n- `edu`\n- `edu_diff`\n- `edu_prev`\n- `external_code`\n- `external_code_prev`\n- `external_link_anchor`\n- `external_link_anchor_prev`\n- `external_link_domain`\n- `external_link_domain_prev`\n- `external_links`\n- `external_links_is_canonical`\n- `external_links_is_canonical_prev`\n- `external_links_prev`\n- `external_no_crawl_reason`\n- `external_no_crawl_reason_prev`\n- `external_scheme`\n- `external_scheme_prev`\n- `final_redirect`\n- `final_redirect_code`\n- `final_redirect_code_prev`\n- `final_redirect_no_crawl_reason`\n- `final_redirect_no_crawl_reason_prev`\n- `final_redirect_prev`\n- `found_in_sitemaps`\n- `found_in_sitemaps_length`\n- `found_in_sitemaps_length_diff`\n- `found_in_sitemaps_length_prev`\n- `found_in_sitemaps_prev`\n- `gov`\n- `gov_diff`\n- `gov_prev`\n- `h1`\n- `h1_length`\n- `h1_length_prev`\n- `h1_prev`\n- `h2`\n- `h2_prev`\n- `hash_content`\n- `hash_content_prev`\n- `hash_descriptions`\n- `hash_descriptions_prev`\n- `hash_h1`\n- `hash_h1_prev`\n- `hash_text`\n- `hash_text_prev`\n- `hash_titles`\n- `hash_titles_prev`\n- `hreflang`\n- `hreflang_code_is_valid`\n- `hreflang_code_is_valid_prev`\n- `hreflang_country`\n- `hreflang_country_prev`\n- `hreflang_group_hash`\n- `hreflang_group_hash_prev`\n- `hreflang_issues`\n- `hreflang_issues_prev`\n- `hreflang_language`\n- `hreflang_language_prev`\n- `hreflang_link`\n- `hreflang_link_is_canonical`\n- `hreflang_link_is_canonical_prev`\n- `hreflang_link_prev`\n- `hreflang_no_crawl_reason`\n- `hreflang_no_crawl_reason_prev`\n- `hreflang_prev`\n- `html_lang`\n- `html_lang_code_is_valid`\n- `html_lang_code_is_valid_prev`\n- `html_lang_country`\n- `html_lang_country_prev`\n- `html_lang_language`\n- `html_lang_language_prev`\n- `html_lang_prev`\n- `http_code`\n- `http_code_prev`\n- `http_header`\n- `http_header_prev`\n- `http_header_robots`\n- `http_header_robots_prev`\n- `http_headers_size`\n- `http_headers_size_prev`\n- `images_no_crawl_reason`\n- `images_no_crawl_reason_prev`\n- `incoming_all_links`\n- `incoming_all_links_diff`\n- `incoming_all_links_prev`\n- `incoming_canonical`\n- `incoming_canonical_prev`\n- `incoming_css`\n- `incoming_css_prev`\n- `incoming_follow`\n- `incoming_follow_prev`\n- `incoming_hreflang`\n- `incoming_hreflang_prev`\n- `incoming_image`\n- `incoming_image_prev`\n- `incoming_js`\n- `incoming_js_prev`\n- `incoming_links`\n- `incoming_links_prev`\n- `incoming_nofollow`\n- `incoming_nofollow_prev`\n- `incoming_pagination`\n- `incoming_pagination_prev`\n- `incoming_redirect`\n- `incoming_redirect_prev`\n- `indexnow_error`\n- `indexnow_error_prev`\n- `indexnow_reason`\n- `indexnow_reason_prev`\n- `indexnow_status`\n- `indexnow_status_prev`\n- `indexnow_submitted_at`\n- `internal`\n- `internal_code`\n- `internal_code_prev`\n- `internal_link_anchor`\n- `internal_link_anchor_prev`\n- `internal_link_domain`\n- `internal_link_domain_prev`\n- `internal_links`\n- `internal_links_is_canonical`\n- `internal_links_is_canonical_prev`\n- `internal_links_prev`\n- `internal_no_crawl_reason`\n- `internal_no_crawl_reason_prev`\n- `internal_scheme`\n- `internal_scheme_prev`\n- `is_html`\n- `is_html_prev`\n- `is_in_sitemap`\n- `is_in_sitemap_prev`\n- `is_page_title_used_in_serp`\n- `is_redirect_loop`\n- `is_redirect_loop_prev`\n- `is_rendered`\n- `is_rendered_prev`\n- `is_valid_internal_html`\n- `is_valid_internal_html_prev`\n- `js_no_crawl_reason`\n- `js_no_crawl_reason_prev`\n- `jsonld_schema_types`\n- `jsonld_schema_types_prev`\n- `jsonld_validation_kinds`\n- `jsonld_validation_kinds_prev`\n- `keywords`\n- `keywords_prev`\n- `length`\n- `links_count_css`\n- `links_count_css_prev`\n- `links_count_external`\n- `links_count_external3xx`\n- `links_count_external3xx_prev`\n- `links_count_external4xx`\n- `links_count_external4xx_prev`\n- `links_count_external5xx`\n- `links_count_external5xx_prev`\n- `links_count_external_follow`\n- `links_count_external_follow_prev`\n- `links_count_external_nofollow`\n- `links_count_external_nofollow_prev`\n- `links_count_external_non_canonical`\n- `links_count_external_non_canonical_prev`\n- `links_count_external_xxx`\n- `links_count_external_xxx_prev`\n- `links_count_images`\n- `links_count_images_prev`\n- `links_count_images_with_alt`\n- `links_count_images_with_alt_prev`\n- `links_count_images_without_alt`\n- `links_count_images_without_alt_prev`\n- `links_count_internal`\n- `links_count_internal3xx`\n- `links_count_internal3xx_prev`\n- `links_count_internal4xx`\n- `links_count_internal4xx_prev`\n- `links_count_internal5xx`\n- `links_count_internal5xx_prev`\n- `links_count_internal_follow`\n- `links_count_internal_follow_prev`\n- `links_count_internal_nofollow`\n- `links_count_internal_nofollow_prev`\n- `links_count_internal_non_canonical`\n- `links_count_internal_non_canonical_prev`\n- `links_count_internal_xxx`\n- `links_count_internal_xxx_prev`\n- `links_count_js`\n- `links_count_js_prev`\n- `links_css`\n- `links_css_code`\n- `links_css_code_prev`\n- `links_css_domain`\n- `links_css_domain_prev`\n- `links_css_prev`\n- `links_css_scheme`\n- `links_css_scheme_prev`\n- `links_external3xx`\n- `links_external3xx_code`\n- `links_external3xx_code_prev`\n- `links_external3xx_prev`\n- `links_external4xx`\n- `links_external4xx_code`\n- `links_external4xx_code_prev`\n- `links_external4xx_prev`\n- `links_external5xx`\n- `links_external5xx_code`\n- `links_external5xx_code_prev`\n- `links_external5xx_prev`\n- `links_external_follow`\n- `links_external_follow_code`\n- `links_external_follow_code_prev`\n- `links_external_follow_prev`\n- `links_external_nofollow`\n- `links_external_nofollow_code`\n- `links_external_nofollow_code_prev`\n- `links_external_nofollow_prev`\n- `links_external_non_canonical`\n- `links_external_non_canonical_code`\n- `links_external_non_canonical_code_prev`\n- `links_external_non_canonical_prev`\n- `links_external_xxx`\n- `links_external_xxx_code`\n- `links_external_xxx_code_prev`\n- `links_external_xxx_prev`\n- `links_hreflang_code`\n- `links_hreflang_code_prev`\n- `links_images`\n- `links_images_alt`\n- `links_images_alt_prev`\n- `links_images_code`\n- `links_images_code_prev`\n- `links_images_domain`\n- `links_images_domain_prev`\n- `links_images_prev`\n- `links_images_scheme`\n- `links_images_scheme_prev`\n- `links_images_with_alt`\n- `links_images_with_alt_code`\n- `links_images_with_alt_code_prev`\n- `links_images_with_alt_prev`\n- `links_images_without_alt`\n- `links_images_without_alt_code`\n- `links_images_without_alt_code_prev`\n- `links_images_without_alt_prev`\n- `links_internal3xx`\n- `links_internal3xx_code`\n- `links_internal3xx_code_prev`\n- `links_internal3xx_prev`\n- `links_internal4xx`\n- `links_internal4xx_code`\n- `links_internal4xx_code_prev`\n- `links_internal4xx_prev`\n- `links_internal5xx`\n- `links_internal5xx_code`\n- `links_internal5xx_code_prev`\n- `links_internal5xx_prev`\n- `links_internal_follow`\n- `links_internal_follow_code`\n- `links_internal_follow_code_prev`\n- `links_internal_follow_prev`\n- `links_internal_nofollow`\n- `links_internal_nofollow_code`\n- `links_internal_nofollow_code_prev`\n- `links_internal_nofollow_prev`\n- `links_internal_non_canonical`\n- `links_internal_non_canonical_code`\n- `links_internal_non_canonical_code_prev`\n- `links_internal_non_canonical_prev`\n- `links_internal_xxx`\n- `links_internal_xxx_code`\n- `links_internal_xxx_code_prev`\n- `links_internal_xxx_prev`\n- `links_js`\n- `links_js_code`\n- `links_js_code_prev`\n- `links_js_domain`\n- `links_js_domain_prev`\n- `links_js_prev`\n- `links_js_scheme`\n- `links_js_scheme_prev`\n- `loading_time`\n- `loading_time_diff`\n- `loading_time_prev`\n- `meta_description`\n- `meta_description_length`\n- `meta_description_length_prev`\n- `meta_description_prev`\n- `meta_refresh`\n- `meta_refresh_prev`\n- `meta_robots`\n- `meta_robots_prev`\n- `meta_twitter_tags_app_google_play`\n- `meta_twitter_tags_app_google_play_prev`\n- `meta_twitter_tags_app_ipad`\n- `meta_twitter_tags_app_ipad_prev`\n- `meta_twitter_tags_app_iphone`\n- `meta_twitter_tags_app_iphone_prev`\n- `meta_twitter_tags_attributes`\n- `meta_twitter_tags_attributes_prev`\n- `meta_twitter_tags_card`\n- `meta_twitter_tags_card_prev`\n- `meta_twitter_tags_description`\n- `meta_twitter_tags_description_prev`\n- `meta_twitter_tags_image`\n- `meta_twitter_tags_image_prev`\n- `meta_twitter_tags_image_url_invalid`\n- `meta_twitter_tags_image_url_invalid_prev`\n- `meta_twitter_tags_player`\n- `meta_twitter_tags_player_height`\n- `meta_twitter_tags_player_height_prev`\n- `meta_twitter_tags_player_prev`\n- `meta_twitter_tags_player_width`\n- `meta_twitter_tags_player_width_diff`\n- `meta_twitter_tags_player_width_prev`\n- `meta_twitter_tags_site`\n- `meta_twitter_tags_site_prev`\n- `meta_twitter_tags_title`\n- `meta_twitter_tags_title_prev`\n- `meta_twitter_tags_valid`\n- `meta_twitter_tags_valid_prev`\n- `meta_twitter_tags_values`\n- `meta_twitter_tags_values_prev`\n- `navigation_next`\n- `navigation_next_code`\n- `navigation_next_code_prev`\n- `navigation_next_no_crawl_reason`\n- `navigation_next_no_crawl_reason_prev`\n- `navigation_next_prev`\n- `navigation_prev`\n- `navigation_prev_code`\n- `navigation_prev_code_prev`\n- `navigation_prev_no_crawl_reason`\n- `navigation_prev_no_crawl_reason_prev`\n- `navigation_prev_prev`\n- `nofollow`\n- `nofollow_diff`\n- `nofollow_prev`\n- `nr_h1`\n- `nr_h1_diff`\n- `nr_h1_prev`\n- `nr_meta_description`\n- `nr_meta_description_diff`\n- `nr_meta_description_prev`\n- `nr_redirect_chain_urls`\n- `nr_redirect_chain_urls_diff`\n- `nr_redirect_chain_urls_prev`\n- `nr_titles`\n- `nr_titles_diff`\n- `nr_titles_prev`\n- `og_tags_attributes`\n- `og_tags_attributes_prev`\n- `og_tags_image`\n- `og_tags_image_prev`\n- `og_tags_image_url_invalid`\n- `og_tags_image_url_invalid_prev`\n- `og_tags_inconsistent_canonical`\n- `og_tags_inconsistent_canonical_prev`\n- `og_tags_title`\n- `og_tags_title_prev`\n- `og_tags_type`\n- `og_tags_type_prev`\n- `og_tags_url`\n- `og_tags_url_prev`\n- `og_tags_url_valid`\n- `og_tags_url_valid_prev`\n- `og_tags_valid`\n- `og_tags_valid_prev`\n- `og_tags_value`\n- `og_tags_value_prev`\n- `origin`\n- `origin_prev`\n- `page_any_content_raw_length`\n- `page_any_content_raw_length_diff`\n- `page_any_content_raw_length_prev`\n- `page_is_nofollow`\n- `page_is_nofollow_prev`\n- `page_is_noindex`\n- `page_is_noindex_prev`\n- `page_rating`\n- `page_raw_text_length`\n- `page_raw_text_length_diff`\n- `page_raw_text_length_prev`\n- `page_raw_ur`\n- `page_raw_ur_diff`\n- `page_raw_ur_prev`\n- `page_type`\n- `page_type_prev`\n- `pagination_group`\n- `pagination_group_prev`\n- `positions`\n- `positions_diff`\n- `positions_prev`\n- `positions_top10`\n- `positions_top10_diff`\n- `positions_top10_prev`\n- `positions_top3`\n- `positions_top3_diff`\n- `positions_top3_prev`\n- `psi_crux_cls_category`\n- `psi_crux_cls_category_prev`\n- `psi_crux_cls_distributions_proportion`\n- `psi_crux_cls_distributions_proportion_prev`\n- `psi_crux_cls_percentile`\n- `psi_crux_cls_percentile_diff`\n- `psi_crux_cls_percentile_prev`\n- `psi_crux_fid_category`\n- `psi_crux_fid_category_prev`\n- `psi_crux_fid_distributions_proportion`\n- `psi_crux_fid_distributions_proportion_prev`\n- `psi_crux_fid_percentile`\n- `psi_crux_fid_percentile_prev`\n- `psi_crux_inp_category`\n- `psi_crux_inp_category_prev`\n- `psi_crux_inp_distributions_proportion`\n- `psi_crux_inp_distributions_proportion_prev`\n- `psi_crux_inp_percentile`\n- `psi_crux_inp_percentile_diff`\n- `psi_crux_inp_percentile_prev`\n- `psi_crux_lcp_category`\n- `psi_crux_lcp_category_prev`\n- `psi_crux_lcp_distributions_proportion`\n- `psi_crux_lcp_distributions_proportion_prev`\n- `psi_crux_lcp_percentile`\n- `psi_crux_lcp_percentile_diff`\n- `psi_crux_lcp_percentile_prev`\n- `psi_lighthouse_cls_error_message`\n- `psi_lighthouse_cls_error_message_prev`\n- `psi_lighthouse_cls_value`\n- `psi_lighthouse_cls_value_diff`\n- `psi_lighthouse_cls_value_prev`\n- `psi_lighthouse_lcp_error_message`\n- `psi_lighthouse_lcp_error_message_prev`\n- `psi_lighthouse_lcp_value`\n- `psi_lighthouse_lcp_value_diff`\n- `psi_lighthouse_lcp_value_prev`\n- `psi_lighthouse_score`\n- `psi_lighthouse_score_prev`\n- `psi_lighthouse_tbt_error_message`\n- `psi_lighthouse_tbt_error_message_prev`\n- `psi_lighthouse_tbt_value`\n- `psi_lighthouse_tbt_value_diff`\n- `psi_lighthouse_tbt_value_prev`\n- `psi_mobile_issues`\n- `psi_mobile_issues_explanations`\n- `psi_mobile_issues_explanations_prev`\n- `psi_mobile_issues_prev`\n- `psi_request_error_message`\n- `psi_request_status`\n- `redirect`\n- `redirect_chain_urls`\n- `redirect_chain_urls_code`\n- `redirect_chain_urls_code_prev`\n- `redirect_chain_urls_no_crawl_reason`\n- `redirect_chain_urls_no_crawl_reason_prev`\n- `redirect_chain_urls_prev`\n- `redirect_chain_urls_prev`\n- `redirect_code`\n- `redirect_code_prev`\n- `redirect_counts`\n- `redirect_counts_diff`\n- `redirect_counts_prev`\n- `redirect_is_canonical`\n- `redirect_is_canonical_prev`\n- `redirect_no_crawl_reason`\n- `redirect_no_crawl_reason_prev`\n- `redirect_prev`\n- `redirect_scheme`\n- `redirect_scheme_prev`\n- `refclass_c`\n- `refclass_c_diff`\n- `refclass_c_prev`\n- `refhosts`\n- `refhosts_diff`\n- `refhosts_prev`\n- `refips`\n- `refips_diff`\n- `refips_prev`\n- `refpages`\n- `refpages_diff`\n- `refpages_prev`\n- `robots_error`\n- `robots_error_prev`\n- `robots_sitemaps`\n- `robots_sitemaps_prev`\n- `rss`\n- `rss_diff`\n- `rss_prev`\n- `scheme`\n- `self_canonical`\n- `self_canonical_prev`\n- `self_hreflang`\n- `self_hreflang_code_is_valid`\n- `self_hreflang_code_is_valid_prev`\n- `self_hreflang_country`\n- `self_hreflang_country_prev`\n- `self_hreflang_language`\n- `self_hreflang_language_prev`\n- `self_hreflang_prev`\n- `serp_title`\n- `serp_title_prev`\n- `sitemap_error`\n- `sitemap_error_prev`\n- `sitemap_is_index`\n- `sitemap_is_index_prev`\n- `sitemap_nr_urls`\n- `sitemap_nr_urls_diff`\n- `sitemap_nr_urls_prev`\n- `size`\n- `size_prev`\n- `size_uncompressed`\n- `size_uncompressed_diff`\n- `size_uncompressed_prev`\n- `source`\n- `source_prev`\n- `stamp`\n- `stamp_prev`\n- `time_to_first_byte`\n- `time_to_first_byte_diff`\n- `time_to_first_byte_prev`\n- `title`\n- `title_prev`\n- `titles_length`\n- `titles_length_prev`\n- `top_keyword`\n- `top_keyword_country`\n- `top_keyword_country_prev`\n- `top_keyword_position`\n- `top_keyword_position_diff`\n- `top_keyword_position_prev`\n- `traffic`\n- `traffic_diff`\n- `traffic_prev`\n- `url`",
            "required": false,
            "explode": false,
            "schema": { "type": "string" },
            "name": "order_by",
            "in": "query"
          },
          {
            "description": "A comma-separated list of fields to return.\n\n- `ai_content_level`\n- `ai_content_level_prev`\n- `ai_content_status`\n- `ai_content_status_prev`\n- `allowed_search_bots`\n- `allowed_search_bots_prev`\n- `allowed_training_bots`\n- `allowed_training_bots_prev`\n- `alternate`\n- `alternate_diff`\n- `alternate_prev`\n- `backlinks`\n- `backlinks_diff`\n- `backlinks_prev`\n- `blocked_search_bots`\n- `blocked_search_bots_prev`\n- `blocked_training_bots`\n- `blocked_training_bots_prev`\n- `canonical`\n- `canonical_code`\n- `canonical_code_prev`\n- `canonical_counts`\n- `canonical_counts_diff`\n- `canonical_counts_prev`\n- `canonical_group_hash`\n- `canonical_group_hash_prev`\n- `canonical_is_canonical`\n- `canonical_is_canonical_prev`\n- `canonical_no_crawl_reason`\n- `canonical_no_crawl_reason_prev`\n- `canonical_prev`\n- `canonical_scheme`\n- `canonical_scheme_prev`\n- `compliant`\n- `compliant_prev`\n- `compression`\n- `compression_prev`\n- `content_encoding`\n- `content_encoding_prev`\n- `content_length`\n- `content_length_diff`\n- `content_length_prev`\n- `content_nr_word`\n- `content_nr_word_diff`\n- `content_nr_word_prev`\n- `content_type`\n- `content_type_prev`\n- `css_no_crawl_reason`\n- `css_no_crawl_reason_prev`\n- `curl_code`\n- `curl_code_prev`\n- `depth`\n- `depth_diff`\n- `depth_prev`\n- `dofollow`\n- `dofollow_diff`\n- `dofollow_prev`\n- `domain`\n- `duplicate_content`\n- `duplicate_content_canonical_hreflang`\n- `duplicate_content_canonical_hreflang_diff`\n- `duplicate_content_canonical_hreflang_prev`\n- `duplicate_content_diff`\n- `duplicate_content_prev`\n- `duplicate_description`\n- `duplicate_description_canonical_hreflang`\n- `duplicate_description_canonical_hreflang_diff`\n- `duplicate_description_canonical_hreflang_prev`\n- `duplicate_description_diff`\n- `duplicate_description_prev`\n- `duplicate_group_identifier`\n- `duplicate_group_identifier_prev`\n- `duplicate_h1`\n- `duplicate_h1_canonical_hreflang`\n- `duplicate_h1_canonical_hreflang_diff`\n- `duplicate_h1_canonical_hreflang_prev`\n- `duplicate_h1_diff`\n- `duplicate_h1_prev`\n- `duplicate_title`\n- `duplicate_title_canonical_hreflang`\n- `duplicate_title_canonical_hreflang_diff`\n- `duplicate_title_canonical_hreflang_prev`\n- `duplicate_title_diff`\n- `duplicate_title_prev`\n- `edu`\n- `edu_diff`\n- `edu_prev`\n- `external_code`\n- `external_code_prev`\n- `external_link_anchor`\n- `external_link_anchor_prev`\n- `external_link_domain`\n- `external_link_domain_prev`\n- `external_links`\n- `external_links_is_canonical`\n- `external_links_is_canonical_prev`\n- `external_links_prev`\n- `external_no_crawl_reason`\n- `external_no_crawl_reason_prev`\n- `external_scheme`\n- `external_scheme_prev`\n- `final_redirect`\n- `final_redirect_code`\n- `final_redirect_code_prev`\n- `final_redirect_no_crawl_reason`\n- `final_redirect_no_crawl_reason_prev`\n- `final_redirect_prev`\n- `found_in_sitemaps`\n- `found_in_sitemaps_length`\n- `found_in_sitemaps_length_diff`\n- `found_in_sitemaps_length_prev`\n- `found_in_sitemaps_prev`\n- `gov`\n- `gov_diff`\n- `gov_prev`\n- `h1`\n- `h1_length`\n- `h1_length_prev`\n- `h1_prev`\n- `h2`\n- `h2_prev`\n- `hash_content`\n- `hash_content_prev`\n- `hash_descriptions`\n- `hash_descriptions_prev`\n- `hash_h1`\n- `hash_h1_prev`\n- `hash_text`\n- `hash_text_prev`\n- `hash_titles`\n- `hash_titles_prev`\n- `hreflang`\n- `hreflang_code_is_valid`\n- `hreflang_code_is_valid_prev`\n- `hreflang_country`\n- `hreflang_country_prev`\n- `hreflang_group_hash`\n- `hreflang_group_hash_prev`\n- `hreflang_issues`\n- `hreflang_issues_prev`\n- `hreflang_language`\n- `hreflang_language_prev`\n- `hreflang_link`\n- `hreflang_link_is_canonical`\n- `hreflang_link_is_canonical_prev`\n- `hreflang_link_prev`\n- `hreflang_no_crawl_reason`\n- `hreflang_no_crawl_reason_prev`\n- `hreflang_prev`\n- `html_lang`\n- `html_lang_code_is_valid`\n- `html_lang_code_is_valid_prev`\n- `html_lang_country`\n- `html_lang_country_prev`\n- `html_lang_language`\n- `html_lang_language_prev`\n- `html_lang_prev`\n- `http_code`\n- `http_code_prev`\n- `http_header`\n- `http_header_prev`\n- `http_header_robots`\n- `http_header_robots_prev`\n- `http_headers_size`\n- `http_headers_size_prev`\n- `images_no_crawl_reason`\n- `images_no_crawl_reason_prev`\n- `incoming_all_links`\n- `incoming_all_links_diff`\n- `incoming_all_links_prev`\n- `incoming_canonical`\n- `incoming_canonical_prev`\n- `incoming_css`\n- `incoming_css_prev`\n- `incoming_follow`\n- `incoming_follow_prev`\n- `incoming_hreflang`\n- `incoming_hreflang_prev`\n- `incoming_image`\n- `incoming_image_prev`\n- `incoming_js`\n- `incoming_js_prev`\n- `incoming_links`\n- `incoming_links_prev`\n- `incoming_nofollow`\n- `incoming_nofollow_prev`\n- `incoming_pagination`\n- `incoming_pagination_prev`\n- `incoming_redirect`\n- `incoming_redirect_prev`\n- `indexnow_error`\n- `indexnow_error_prev`\n- `indexnow_reason`\n- `indexnow_reason_prev`\n- `indexnow_status`\n- `indexnow_status_prev`\n- `indexnow_submitted_at`\n- `internal`\n- `internal_code`\n- `internal_code_prev`\n- `internal_link_anchor`\n- `internal_link_anchor_prev`\n- `internal_link_domain`\n- `internal_link_domain_prev`\n- `internal_links`\n- `internal_links_is_canonical`\n- `internal_links_is_canonical_prev`\n- `internal_links_prev`\n- `internal_no_crawl_reason`\n- `internal_no_crawl_reason_prev`\n- `internal_scheme`\n- `internal_scheme_prev`\n- `is_html`\n- `is_html_prev`\n- `is_in_sitemap`\n- `is_in_sitemap_prev`\n- `is_page_title_used_in_serp`\n- `is_redirect_loop`\n- `is_redirect_loop_prev`\n- `is_rendered`\n- `is_rendered_prev`\n- `is_valid_internal_html`\n- `is_valid_internal_html_prev`\n- `js_no_crawl_reason`\n- `js_no_crawl_reason_prev`\n- `jsonld_schema_types`\n- `jsonld_schema_types_prev`\n- `jsonld_validation_kinds`\n- `jsonld_validation_kinds_prev`\n- `keywords`\n- `keywords_prev`\n- `length`\n- `links_count_css`\n- `links_count_css_prev`\n- `links_count_external`\n- `links_count_external3xx`\n- `links_count_external3xx_prev`\n- `links_count_external4xx`\n- `links_count_external4xx_prev`\n- `links_count_external5xx`\n- `links_count_external5xx_prev`\n- `links_count_external_follow`\n- `links_count_external_follow_prev`\n- `links_count_external_nofollow`\n- `links_count_external_nofollow_prev`\n- `links_count_external_non_canonical`\n- `links_count_external_non_canonical_prev`\n- `links_count_external_xxx`\n- `links_count_external_xxx_prev`\n- `links_count_images`\n- `links_count_images_prev`\n- `links_count_images_with_alt`\n- `links_count_images_with_alt_prev`\n- `links_count_images_without_alt`\n- `links_count_images_without_alt_prev`\n- `links_count_internal`\n- `links_count_internal3xx`\n- `links_count_internal3xx_prev`\n- `links_count_internal4xx`\n- `links_count_internal4xx_prev`\n- `links_count_internal5xx`\n- `links_count_internal5xx_prev`\n- `links_count_internal_follow`\n- `links_count_internal_follow_prev`\n- `links_count_internal_nofollow`\n- `links_count_internal_nofollow_prev`\n- `links_count_internal_non_canonical`\n- `links_count_internal_non_canonical_prev`\n- `links_count_internal_xxx`\n- `links_count_internal_xxx_prev`\n- `links_count_js`\n- `links_count_js_prev`\n- `links_css`\n- `links_css_code`\n- `links_css_code_prev`\n- `links_css_domain`\n- `links_css_domain_prev`\n- `links_css_prev`\n- `links_css_scheme`\n- `links_css_scheme_prev`\n- `links_external3xx`\n- `links_external3xx_code`\n- `links_external3xx_code_prev`\n- `links_external3xx_prev`\n- `links_external4xx`\n- `links_external4xx_code`\n- `links_external4xx_code_prev`\n- `links_external4xx_prev`\n- `links_external5xx`\n- `links_external5xx_code`\n- `links_external5xx_code_prev`\n- `links_external5xx_prev`\n- `links_external_follow`\n- `links_external_follow_code`\n- `links_external_follow_code_prev`\n- `links_external_follow_prev`\n- `links_external_nofollow`\n- `links_external_nofollow_code`\n- `links_external_nofollow_code_prev`\n- `links_external_nofollow_prev`\n- `links_external_non_canonical`\n- `links_external_non_canonical_code`\n- `links_external_non_canonical_code_prev`\n- `links_external_non_canonical_prev`\n- `links_external_xxx`\n- `links_external_xxx_code`\n- `links_external_xxx_code_prev`\n- `links_external_xxx_prev`\n- `links_hreflang_code`\n- `links_hreflang_code_prev`\n- `links_images`\n- `links_images_alt`\n- `links_images_alt_prev`\n- `links_images_code`\n- `links_images_code_prev`\n- `links_images_domain`\n- `links_images_domain_prev`\n- `links_images_prev`\n- `links_images_scheme`\n- `links_images_scheme_prev`\n- `links_images_with_alt`\n- `links_images_with_alt_code`\n- `links_images_with_alt_code_prev`\n- `links_images_with_alt_prev`\n- `links_images_without_alt`\n- `links_images_without_alt_code`\n- `links_images_without_alt_code_prev`\n- `links_images_without_alt_prev`\n- `links_internal3xx`\n- `links_internal3xx_code`\n- `links_internal3xx_code_prev`\n- `links_internal3xx_prev`\n- `links_internal4xx`\n- `links_internal4xx_code`\n- `links_internal4xx_code_prev`\n- `links_internal4xx_prev`\n- `links_internal5xx`\n- `links_internal5xx_code`\n- `links_internal5xx_code_prev`\n- `links_internal5xx_prev`\n- `links_internal_follow`\n- `links_internal_follow_code`\n- `links_internal_follow_code_prev`\n- `links_internal_follow_prev`\n- `links_internal_nofollow`\n- `links_internal_nofollow_code`\n- `links_internal_nofollow_code_prev`\n- `links_internal_nofollow_prev`\n- `links_internal_non_canonical`\n- `links_internal_non_canonical_code`\n- `links_internal_non_canonical_code_prev`\n- `links_internal_non_canonical_prev`\n- `links_internal_xxx`\n- `links_internal_xxx_code`\n- `links_internal_xxx_code_prev`\n- `links_internal_xxx_prev`\n- `links_js`\n- `links_js_code`\n- `links_js_code_prev`\n- `links_js_domain`\n- `links_js_domain_prev`\n- `links_js_prev`\n- `links_js_scheme`\n- `links_js_scheme_prev`\n- `loading_time`\n- `loading_time_diff`\n- `loading_time_prev`\n- `meta_description`\n- `meta_description_length`\n- `meta_description_length_prev`\n- `meta_description_prev`\n- `meta_refresh`\n- `meta_refresh_prev`\n- `meta_robots`\n- `meta_robots_prev`\n- `meta_twitter_tags_app_google_play`\n- `meta_twitter_tags_app_google_play_prev`\n- `meta_twitter_tags_app_ipad`\n- `meta_twitter_tags_app_ipad_prev`\n- `meta_twitter_tags_app_iphone`\n- `meta_twitter_tags_app_iphone_prev`\n- `meta_twitter_tags_attributes`\n- `meta_twitter_tags_attributes_prev`\n- `meta_twitter_tags_card`\n- `meta_twitter_tags_card_prev`\n- `meta_twitter_tags_description`\n- `meta_twitter_tags_description_prev`\n- `meta_twitter_tags_image`\n- `meta_twitter_tags_image_prev`\n- `meta_twitter_tags_image_url_invalid`\n- `meta_twitter_tags_image_url_invalid_prev`\n- `meta_twitter_tags_player`\n- `meta_twitter_tags_player_height`\n- `meta_twitter_tags_player_height_prev`\n- `meta_twitter_tags_player_prev`\n- `meta_twitter_tags_player_width`\n- `meta_twitter_tags_player_width_diff`\n- `meta_twitter_tags_player_width_prev`\n- `meta_twitter_tags_site`\n- `meta_twitter_tags_site_prev`\n- `meta_twitter_tags_title`\n- `meta_twitter_tags_title_prev`\n- `meta_twitter_tags_valid`\n- `meta_twitter_tags_valid_prev`\n- `meta_twitter_tags_values`\n- `meta_twitter_tags_values_prev`\n- `navigation_next`\n- `navigation_next_code`\n- `navigation_next_code_prev`\n- `navigation_next_no_crawl_reason`\n- `navigation_next_no_crawl_reason_prev`\n- `navigation_next_prev`\n- `navigation_prev`\n- `navigation_prev_code`\n- `navigation_prev_code_prev`\n- `navigation_prev_no_crawl_reason`\n- `navigation_prev_no_crawl_reason_prev`\n- `navigation_prev_prev`\n- `nofollow`\n- `nofollow_diff`\n- `nofollow_prev`\n- `nr_h1`\n- `nr_h1_diff`\n- `nr_h1_prev`\n- `nr_meta_description`\n- `nr_meta_description_diff`\n- `nr_meta_description_prev`\n- `nr_redirect_chain_urls`\n- `nr_redirect_chain_urls_diff`\n- `nr_redirect_chain_urls_prev`\n- `nr_titles`\n- `nr_titles_diff`\n- `nr_titles_prev`\n- `og_tags_attributes`\n- `og_tags_attributes_prev`\n- `og_tags_image`\n- `og_tags_image_prev`\n- `og_tags_image_url_invalid`\n- `og_tags_image_url_invalid_prev`\n- `og_tags_inconsistent_canonical`\n- `og_tags_inconsistent_canonical_prev`\n- `og_tags_title`\n- `og_tags_title_prev`\n- `og_tags_type`\n- `og_tags_type_prev`\n- `og_tags_url`\n- `og_tags_url_prev`\n- `og_tags_url_valid`\n- `og_tags_url_valid_prev`\n- `og_tags_valid`\n- `og_tags_valid_prev`\n- `og_tags_value`\n- `og_tags_value_prev`\n- `origin`\n- `origin_prev`\n- `page_any_content_raw_length`\n- `page_any_content_raw_length_diff`\n- `page_any_content_raw_length_prev`\n- `page_is_nofollow`\n- `page_is_nofollow_prev`\n- `page_is_noindex`\n- `page_is_noindex_prev`\n- `page_rating`\n- `page_raw_text_length`\n- `page_raw_text_length_diff`\n- `page_raw_text_length_prev`\n- `page_raw_ur`\n- `page_raw_ur_diff`\n- `page_raw_ur_prev`\n- `page_type`\n- `page_type_prev`\n- `pagination_group`\n- `pagination_group_prev`\n- `positions`\n- `positions_diff`\n- `positions_prev`\n- `positions_top10`\n- `positions_top10_diff`\n- `positions_top10_prev`\n- `positions_top3`\n- `positions_top3_diff`\n- `positions_top3_prev`\n- `psi_crux_cls_category`\n- `psi_crux_cls_category_prev`\n- `psi_crux_cls_distributions_proportion`\n- `psi_crux_cls_distributions_proportion_prev`\n- `psi_crux_cls_percentile`\n- `psi_crux_cls_percentile_diff`\n- `psi_crux_cls_percentile_prev`\n- `psi_crux_fid_category`\n- `psi_crux_fid_category_prev`\n- `psi_crux_fid_distributions_proportion`\n- `psi_crux_fid_distributions_proportion_prev`\n- `psi_crux_fid_percentile`\n- `psi_crux_fid_percentile_prev`\n- `psi_crux_inp_category`\n- `psi_crux_inp_category_prev`\n- `psi_crux_inp_distributions_proportion`\n- `psi_crux_inp_distributions_proportion_prev`\n- `psi_crux_inp_percentile`\n- `psi_crux_inp_percentile_diff`\n- `psi_crux_inp_percentile_prev`\n- `psi_crux_lcp_category`\n- `psi_crux_lcp_category_prev`\n- `psi_crux_lcp_distributions_proportion`\n- `psi_crux_lcp_distributions_proportion_prev`\n- `psi_crux_lcp_percentile`\n- `psi_crux_lcp_percentile_diff`\n- `psi_crux_lcp_percentile_prev`\n- `psi_lighthouse_cls_error_message`\n- `psi_lighthouse_cls_error_message_prev`\n- `psi_lighthouse_cls_value`\n- `psi_lighthouse_cls_value_diff`\n- `psi_lighthouse_cls_value_prev`\n- `psi_lighthouse_lcp_error_message`\n- `psi_lighthouse_lcp_error_message_prev`\n- `psi_lighthouse_lcp_value`\n- `psi_lighthouse_lcp_value_diff`\n- `psi_lighthouse_lcp_value_prev`\n- `psi_lighthouse_score`\n- `psi_lighthouse_score_prev`\n- `psi_lighthouse_tbt_error_message`\n- `psi_lighthouse_tbt_error_message_prev`\n- `psi_lighthouse_tbt_value`\n- `psi_lighthouse_tbt_value_diff`\n- `psi_lighthouse_tbt_value_prev`\n- `psi_mobile_issues`\n- `psi_mobile_issues_explanations`\n- `psi_mobile_issues_explanations_prev`\n- `psi_mobile_issues_prev`\n- `psi_request_error_message`\n- `psi_request_status`\n- `redirect`\n- `redirect_chain_urls`\n- `redirect_chain_urls_code`\n- `redirect_chain_urls_code_prev`\n- `redirect_chain_urls_no_crawl_reason`\n- `redirect_chain_urls_no_crawl_reason_prev`\n- `redirect_chain_urls_prev`\n- `redirect_chain_urls_prev`\n- `redirect_code`\n- `redirect_code_prev`\n- `redirect_counts`\n- `redirect_counts_diff`\n- `redirect_counts_prev`\n- `redirect_is_canonical`\n- `redirect_is_canonical_prev`\n- `redirect_no_crawl_reason`\n- `redirect_no_crawl_reason_prev`\n- `redirect_prev`\n- `redirect_scheme`\n- `redirect_scheme_prev`\n- `refclass_c`\n- `refclass_c_diff`\n- `refclass_c_prev`\n- `refhosts`\n- `refhosts_diff`\n- `refhosts_prev`\n- `refips`\n- `refips_diff`\n- `refips_prev`\n- `refpages`\n- `refpages_diff`\n- `refpages_prev`\n- `robots_error`\n- `robots_error_prev`\n- `robots_sitemaps`\n- `robots_sitemaps_prev`\n- `rss`\n- `rss_diff`\n- `rss_prev`\n- `scheme`\n- `self_canonical`\n- `self_canonical_prev`\n- `self_hreflang`\n- `self_hreflang_code_is_valid`\n- `self_hreflang_code_is_valid_prev`\n- `self_hreflang_country`\n- `self_hreflang_country_prev`\n- `self_hreflang_language`\n- `self_hreflang_language_prev`\n- `self_hreflang_prev`\n- `serp_title`\n- `serp_title_prev`\n- `sitemap_error`\n- `sitemap_error_prev`\n- `sitemap_is_index`\n- `sitemap_is_index_prev`\n- `sitemap_nr_urls`\n- `sitemap_nr_urls_diff`\n- `sitemap_nr_urls_prev`\n- `size`\n- `size_prev`\n- `size_uncompressed`\n- `size_uncompressed_diff`\n- `size_uncompressed_prev`\n- `source`\n- `source_prev`\n- `stamp`\n- `stamp_prev`\n- `time_to_first_byte`\n- `time_to_first_byte_diff`\n- `time_to_first_byte_prev`\n- `title`\n- `title_prev`\n- `titles_length`\n- `titles_length_prev`\n- `top_keyword`\n- `top_keyword_country`\n- `top_keyword_country_prev`\n- `top_keyword_position`\n- `top_keyword_position_diff`\n- `top_keyword_position_prev`\n- `traffic`\n- `traffic_diff`\n- `traffic_prev`\n- `url`",
            "required": false,
            "explode": false,
            "schema": { "type": "string" },
            "name": "select",
            "in": "query"
          },
          {
            "description": "The filter expression. The following column identifiers are recognized (this differs from the identifiers recognized by the `select` parameter).\n\n**ai_content_level**: The estimated percentage of AI-generated text on the page. Possible values: `None`, `Low`, `Moderate`, `High`, `Very High`  \ntype: string nullable\n\n**ai_content_level_prev**: The estimated percentage of AI-generated text on the page. Possible values: `None`, `Low`, `Moderate`, `High`, `Very High`  \ntype: string nullable\n\n**ai_content_status**: AI detection status for each page. Possible values:\n- `Success`: Content analyzed successfully\n- `Content_too_short`: Not enough text for reliable detection\n- `Not_eligible`: URL isn't an internal HTML page\n- `Failed`: Internal issue prevented detection\n- `Detection_off`: Disabled in Crawl settings  \ntype: string nullable\n\n**ai_content_status_prev**: AI detection status for each page. Possible values:\n- `Success`: Content analyzed successfully\n- `Content_too_short`: Not enough text for reliable detection\n- `Not_eligible`: URL isn't an internal HTML page\n- `Failed`: Internal issue prevented detection\n- `Detection_off`: Disabled in Crawl settings  \ntype: string nullable\n\n**allowed_search_bots**: AI search and assistant bots permitted to crawl this page (not disallowed in robots.txt). These can surface or cite the page in AI search results and live answers  \ntype: array(string)\n\n**allowed_search_bots_prev**: AI search and assistant bots permitted to crawl this page (not disallowed in robots.txt). These can surface or cite the page in AI search results and live answers  \ntype: array(string)\n\n**allowed_training_bots**: AI model-training crawlers permitted to crawl this page (not disallowed in robots.txt). These may use the page's content to train AI models  \ntype: array(string)\n\n**allowed_training_bots_prev**: AI model-training crawlers permitted to crawl this page (not disallowed in robots.txt). These may use the page's content to train AI models  \ntype: array(string)\n\n**alternate**: The number of incoming external links from rel=\"alternate\" attributes on the pages (data from Ahrefs' Site Explorer database)  \ntype: integer nullable\n\n**alternate_diff**: The number of incoming external links from rel=\"alternate\" attributes on the pages (data from Ahrefs' Site Explorer database)  \ntype: integer nullable\n\n**alternate_prev**: The number of incoming external links from rel=\"alternate\" attributes on the pages (data from Ahrefs' Site Explorer database)  \ntype: integer nullable\n\n**backlinks**: The number of incoming external links (both dofollow and nofollow) pointing to the URL (data from Ahrefs' Site Explorer database). Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**backlinks_diff**: The number of incoming external links (both dofollow and nofollow) pointing to the URL (data from Ahrefs' Site Explorer database). Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**backlinks_prev**: The number of incoming external links (both dofollow and nofollow) pointing to the URL (data from Ahrefs' Site Explorer database). Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**blocked_search_bots**: AI search and assistant bots this page disallows in robots.txt. These power citations and live answers in tools like ChatGPT, Google AI Overviews, Perplexity, and Claude - blocking them can keep the page out of AI search results  \ntype: array(string)\n\n**blocked_search_bots_prev**: AI search and assistant bots this page disallows in robots.txt. These power citations and live answers in tools like ChatGPT, Google AI Overviews, Perplexity, and Claude - blocking them can keep the page out of AI search results  \ntype: array(string)\n\n**blocked_training_bots**: AI model-training crawlers this page disallows in robots.txt (e.g. GPTBot, Google-Extended, ClaudeBot). Blocking these keeps the page out of AI training data but doesn't affect its visibility in AI search - it's often an intentional choice  \ntype: array(string)\n\n**blocked_training_bots_prev**: AI model-training crawlers this page disallows in robots.txt (e.g. GPTBot, Google-Extended, ClaudeBot). Blocking these keeps the page out of AI training data but doesn't affect its visibility in AI search - it's often an intentional choice  \ntype: array(string)\n\n**canonical**: The URL of the canonical version of the page  \ntype: url nullable\n\n**canonical_code**: The HTTP status code of the canonical URL  \ntype: integer nullable\n\n**canonical_code_prev**: The HTTP status code of the canonical URL  \ntype: integer nullable\n\n**canonical_counts**: The number of incoming external links from canonical pages pointing to the URL. Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**canonical_counts_diff**: The number of incoming external links from canonical pages pointing to the URL. Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**canonical_counts_prev**: The number of incoming external links from canonical pages pointing to the URL. Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**canonical_group_hash**: The ID of the group of pages that have the same canonical URL  \ntype: integer nullable\n\n**canonical_group_hash_prev**: The ID of the group of pages that have the same canonical URL  \ntype: integer nullable\n\n**canonical_is_canonical**: Indicates whether the target page tags itself as the canonical version to be shown in search results. A page is considered as canonical when it doesn't refer to any other pages as canonical  \ntype: boolean nullable\n\n**canonical_is_canonical_prev**: Indicates whether the target page tags itself as the canonical version to be shown in search results. A page is considered as canonical when it doesn't refer to any other pages as canonical  \ntype: boolean nullable\n\n**canonical_no_crawl_reason**: The reason why the canonical version of the page was not crawled  \ntype: string nullable\n\n**canonical_no_crawl_reason_prev**: The reason why the canonical version of the page was not crawled  \ntype: string nullable\n\n**canonical_prev**: The URL of the canonical version of the page  \ntype: url nullable\n\n**canonical_scheme**: The protocol of the canonical URL  \ntype: string nullable\n\n**canonical_scheme_prev**: The protocol of the canonical URL  \ntype: string nullable\n\n**compliant**: Indicates that the page is indexable. An indexable page is an HTML page returning the 200 HTTP status code that has neither the \"rel=canonical\" tag pointing to a different URL nor the \"noindex\" directive  \ntype: boolean nullable\n\n**compliant_prev**: Indicates that the page is indexable. An indexable page is an HTML page returning the 200 HTTP status code that has neither the \"rel=canonical\" tag pointing to a different URL nor the \"noindex\" directive  \ntype: boolean nullable\n\n**compression**: The data compression scheme  \ntype: string nullable\n\n**compression_prev**: The data compression scheme  \ntype: string nullable\n\n**content_encoding**: The Content-Encoding HTTP response header field  \ntype: string nullable\n\n**content_encoding_prev**: The Content-Encoding HTTP response header field  \ntype: string nullable\n\n**content_length**: The character length of content displayed on the page  \ntype: integer nullable\n\n**content_length_diff**: The character length of content displayed on the page  \ntype: integer nullable\n\n**content_length_prev**: The character length of content displayed on the page  \ntype: integer nullable\n\n**content_nr_word**: The word count of content displayed on the page  \ntype: integer nullable\n\n**content_nr_word_diff**: The word count of content displayed on the page  \ntype: integer nullable\n\n**content_nr_word_prev**: The word count of content displayed on the page  \ntype: integer nullable\n\n**content_type**: The Content-Type HTTP header of the page or resource. You can find the full list of content types [here](https://www.iana.org/assignments/media-types/media-types.xhtml)  \ntype: string nullable\n\n**content_type_prev**: The Content-Type HTTP header of the page or resource. You can find the full list of content types [here](https://www.iana.org/assignments/media-types/media-types.xhtml)  \ntype: string nullable\n\n**css_no_crawl_reason**: The reasons why CSS files linked from the page were not crawled  \ntype: array(string nullable)\n\n**css_no_crawl_reason_prev**: The reasons why CSS files linked from the page were not crawled  \ntype: array(string nullable)\n\n**curl_code**: CURLcode return code. You can find the full list of CURL codes [here](https://curl.haxx.se/libcurl/c/libcurl-errors.html)  \ntype: integer\n\n**curl_code_prev**: CURLcode return code. You can find the full list of CURL codes [here](https://curl.haxx.se/libcurl/c/libcurl-errors.html)  \ntype: integer nullable\n\n**depth**: The minimum number of clicks required for our crawler to reach the URL from the starting point of a crawl (seed page). Please note that redirects are also counted as a level  \ntype: integer nullable\n\n**depth_diff**: The minimum number of clicks required for our crawler to reach the URL from the starting point of a crawl (seed page). Please note that redirects are also counted as a level  \ntype: integer nullable\n\n**depth_prev**: The minimum number of clicks required for our crawler to reach the URL from the starting point of a crawl (seed page). Please note that redirects are also counted as a level  \ntype: integer nullable\n\n**dofollow**: The number of incoming external dofollow links pointing to the URL. Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**dofollow_diff**: The number of incoming external dofollow links pointing to the URL. Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**dofollow_prev**: The number of incoming external dofollow links pointing to the URL. Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**domain**: The domain name part of the URL  \ntype: domain\n\n**domain_prev**: The domain name part of the URL  \ntype: domain nullable\n\n**duplicate_content**: The number of pages with matching or appreciably similar content  \ntype: integer nullable\n\n**duplicate_content_canonical_hreflang**: The number of page groups with matching or appreciably similar content. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_content_canonical_hreflang_diff**: The number of page groups with matching or appreciably similar content. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_content_canonical_hreflang_prev**: The number of page groups with matching or appreciably similar content. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_content_diff**: The number of pages with matching or appreciably similar content  \ntype: integer nullable\n\n**duplicate_content_prev**: The number of pages with matching or appreciably similar content  \ntype: integer nullable\n\n**duplicate_description**: The number of pages that have the same meta description. If the page has more than one meta description, each will be checked for duplicates  \ntype: integer nullable\n\n**duplicate_description_canonical_hreflang**: The number of page groups that have the same meta description. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_description_canonical_hreflang_diff**: The number of page groups that have the same meta description. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_description_canonical_hreflang_prev**: The number of page groups that have the same meta description. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_description_diff**: The number of pages that have the same meta description. If the page has more than one meta description, each will be checked for duplicates  \ntype: integer nullable\n\n**duplicate_description_prev**: The number of pages that have the same meta description. If the page has more than one meta description, each will be checked for duplicates  \ntype: integer nullable\n\n**duplicate_group_identifier**: The ID of the group of pages that are interconnected via a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_group_identifier_prev**: The ID of the group of pages that are interconnected via a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_h1**: The number of pages that have the same H1 subheader. If the page has more than one H1 subheader, each will be checked for duplicates  \ntype: integer nullable\n\n**duplicate_h1_canonical_hreflang**: The number of page groups sharing the same H1 subheader. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_h1_canonical_hreflang_diff**: The number of page groups sharing the same H1 subheader. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_h1_canonical_hreflang_prev**: The number of page groups sharing the same H1 subheader. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_h1_diff**: The number of pages that have the same H1 subheader. If the page has more than one H1 subheader, each will be checked for duplicates  \ntype: integer nullable\n\n**duplicate_h1_prev**: The number of pages that have the same H1 subheader. If the page has more than one H1 subheader, each will be checked for duplicates  \ntype: integer nullable\n\n**duplicate_title**: The number of pages that have the same title. If the page has more than one title, each will be checked for duplicates  \ntype: integer nullable\n\n**duplicate_title_canonical_hreflang**: The number of page groups that have the same title. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_title_canonical_hreflang_diff**: The number of page groups that have the same title. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_title_canonical_hreflang_prev**: The number of page groups that have the same title. A group includes pages united by a common canonical URL, hreflang or pagination tags  \ntype: integer nullable\n\n**duplicate_title_diff**: The number of pages that have the same title. If the page has more than one title, each will be checked for duplicates  \ntype: integer nullable\n\n**duplicate_title_prev**: The number of pages that have the same title. If the page has more than one title, each will be checked for duplicates  \ntype: integer nullable\n\n**edu**: The number of incoming external links from .edu domains pointing to the URL (data from Ahrefs' Site Explorer database). Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**edu_diff**: The number of incoming external links from .edu domains pointing to the URL (data from Ahrefs' Site Explorer database). Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**edu_prev**: The number of incoming external links from .edu domains pointing to the URL (data from Ahrefs' Site Explorer database). Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**external_code**: The list of HTTP status codes returned by the external URLs linked from the page  \ntype: array(integer nullable)\n\n**external_code_prev**: The list of HTTP status codes returned by the external URLs linked from the page  \ntype: array(integer nullable)\n\n**external_link_anchor**: The list of anchor texts used in external outgoing links on the page  \ntype: array(string nullable)\n\n**external_link_anchor_prev**: The list of anchor texts used in external outgoing links on the page  \ntype: array(string nullable)\n\n**external_link_domain**: The list of external domains linked to from the page  \ntype: array(domain)\n\n**external_link_domain_prev**: The list of external domains linked to from the page  \ntype: array(domain)\n\n**external_links**: The list of external outgoing links on the page  \ntype: array(url)\n\n**external_links_is_canonical**: Indicates whether the target page tags itself as the canonical version to be shown in search results. A page is considered as canonical when it doesn't refer to any other pages as canonical  \ntype: array(boolean nullable)\n\n**external_links_is_canonical_prev**: Indicates whether the target page tags itself as the canonical version to be shown in search results. A page is considered as canonical when it doesn't refer to any other pages as canonical  \ntype: array(boolean nullable)\n\n**external_links_prev**: The list of external outgoing links on the page  \ntype: array(url)\n\n**external_no_crawl_reason**: The reasons why the external URLs linked from the page were not crawled  \ntype: array(string nullable)\n\n**external_no_crawl_reason_prev**: The reasons why the external URLs linked from the page were not crawled  \ntype: array(string nullable)\n\n**external_scheme**: The protocols of the external outgoing links on the page  \ntype: array(string)\n\n**external_scheme_prev**: The protocols of the external outgoing links on the page  \ntype: array(string)\n\n**final_redirect**: The destination of the final redirecting URL  \ntype: url nullable\n\n**final_redirect_code**: The HTTP status code of the destination of the final redirecting URL  \ntype: integer nullable\n\n**final_redirect_code_prev**: The HTTP status code of the destination of the final redirecting URL  \ntype: integer nullable\n\n**final_redirect_no_crawl_reason**: The reason why the destination of the final redirecting URL was not crawled  \ntype: string nullable\n\n**final_redirect_no_crawl_reason_prev**: The reason why the destination of the final redirecting URL was not crawled  \ntype: string nullable\n\n**final_redirect_prev**: The destination of the final redirecting URL  \ntype: url nullable\n\n**found_in_sitemaps**: The list of sitemaps that reference the URL  \ntype: array(url)\n\n**found_in_sitemaps_length**: The number of sitemaps that reference the URL  \ntype: integer\n\n**found_in_sitemaps_length_diff**: The number of sitemaps that reference the URL  \ntype: integer nullable\n\n**found_in_sitemaps_length_prev**: The number of sitemaps that reference the URL  \ntype: integer nullable\n\n**found_in_sitemaps_prev**: The list of sitemaps that reference the URL  \ntype: array(url)\n\n**gov**: The total number of incoming external links from .gov domains pointing to the URL (data from Ahrefs' Site Explorer database). Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**gov_diff**: The total number of incoming external links from .gov domains pointing to the URL (data from Ahrefs' Site Explorer database). Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**gov_prev**: The total number of incoming external links from .gov domains pointing to the URL (data from Ahrefs' Site Explorer database). Not to be confused with the number of linking pages, as one page can contain multiple backlinks  \ntype: integer nullable\n\n**h1**: The page H1 subheader  \ntype: array(string)\n\n**h1_length**: The character length of the page H1 subheader  \ntype: array(integer)\n\n**h1_length_prev**: The character length of the page H1 subheader  \ntype: array(integer)\n\n**h1_prev**: The page H1 subheader  \ntype: array(string)\n\n**h2**: The page H2 subheader  \ntype: array(string)\n\n**h2_prev**: The page H2 subheader  \ntype: array(string)\n\n**hash_content**: The page content fingerprint. Pages with matching or appreciably similar content have the same content hash  \ntype: integer nullable\n\n**hash_content_prev**: The page content fingerprint. Pages with matching or appreciably similar content have the same content hash  \ntype: integer nullable\n\n**hash_descriptions**: meta_descriptions.hash  \ntype: array(integer)\n\n**hash_descriptions_prev**: meta_descriptions.hash  \ntype: array(integer)\n\n**hash_h1**: The page H1 subheader fingerprint. Pages with matching H1 tags have the same H1 hash  \ntype: array(integer)\n\n**hash_h1_prev**: The page H1 subheader fingerprint. Pages with matching H1 tags have the same H1 hash  \ntype: array(integer)\n\n**hash_text**: The page text fingerprint. Pages with matching content have the same text hash  \ntype: integer nullable\n\n**hash_text_prev**: The page text fingerprint. Pages with matching content have the same text hash  \ntype: integer nullable\n\n**hash_titles**: The page title fingerprint. Pages with matching title tags have the same title hash  \ntype: array(integer)\n\n**hash_titles_prev**: The page title fingerprint. Pages with matching title tags have the same title hash  \ntype: array(integer)\n\n**hreflang**: Data from hreflang attributes  \ntype: array(string nullable)\n\n**hreflang_code_is_valid**: Indicates that hreflang data is specified properly in the hreflang tags on the page. The language must be specified in [ISO 639-1 format](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes), and optionally the region in [ISO 3166-1 Alpha 2 format](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)  \ntype: array(boolean nullable)\n\n**hreflang_code_is_valid_prev**: Indicates that hreflang data is specified properly in the hreflang tags on the page. The language must be specified in [ISO 639-1 format](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes), and optionally the region in [ISO 3166-1 Alpha 2 format](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)  \ntype: array(boolean nullable)\n\n**hreflang_country**: The list of regions specified in the hreflang tags on the page  \ntype: array(string nullable)\n\n**hreflang_country_prev**: The list of regions specified in the hreflang tags on the page  \ntype: array(string nullable)\n\n**hreflang_group_hash**: The ID of the group of pages that have the same set of hreflang attributes with the same set of URLs in them  \ntype: integer nullable\n\n**hreflang_group_hash_prev**: The ID of the group of pages that have the same set of hreflang attributes with the same set of URLs in them  \ntype: integer nullable\n\n**hreflang_issues**: The list of hreflang-related issues a page has  \ntype: array(string)\n\n**hreflang_issues_prev**: The list of hreflang-related issues a page has  \ntype: array(string)\n\n**hreflang_language**: The list of languages specified in the hreflang tags on the page  \ntype: array(string nullable)\n\n**hreflang_language_prev**: The list of languages specified in the hreflang tags on the page  \ntype: array(string nullable)\n\n**hreflang_link**: The list of URLs specified in the hreflang tags on the page  \ntype: array(url)\n\n**hreflang_link_is_canonical**: Indicates whether the target page tags itself as the canonical version to be shown in search results. A page is considered as canonical when it doesn't refer to any other pages as canonical  \ntype: array(boolean nullable)\n\n**hreflang_link_is_canonical_prev**: Indicates whether the target page tags itself as the canonical version to be shown in search results. A page is considered as canonical when it doesn't refer to any other pages as canonical  \ntype: array(boolean nullable)\n\n**hreflang_link_prev**: The list of URLs specified in the hreflang tags on the page  \ntype: array(url)\n\n**hreflang_no_crawl_reason**: The reasons why URLs specified in the hreflang tags on the page were not crawled  \ntype: array(string nullable)\n\n**hreflang_no_crawl_reason_prev**: The reasons why URLs specified in the hreflang tags on the page were not crawled  \ntype: array(string nullable)\n\n**hreflang_prev**: Data from hreflang attributes  \ntype: array(string nullable)\n\n**html_lang**: Data from the page's HTML lang tag  \ntype: string nullable\n\n**html_lang_code_is_valid**: Indicates that the language (or language-region) code is specified properly in the HTML lang tag. The language must be specified in [ISO 639-1 format](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes), and optionally the region in [ISO 3166-1 Alpha 2 format](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)  \ntype: boolean nullable\n\n**html_lang_code_is_valid_prev**: Indicates that the language (or language-region) code is specified properly in the HTML lang tag. The language must be specified in [ISO 639-1 format](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes), and optionally the region in [ISO 3166-1 Alpha 2 format](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)  \ntype: boolean nullable\n\n**html_lang_country**: The region code specified in the page's HTML lang tag  \ntype: string nullable\n\n**html_lang_country_prev**: The region code specified in the page's HTML lang tag  \ntype: string nullable\n\n**html_lang_language**: The language code specified in the page's HTML lang tag  \ntype: string nullable\n\n**html_lang_language_prev**: The language code specified in the page's HTML lang tag  \ntype: string nullable\n\n**html_lang_prev**: Data from the page's HTML lang tag  \ntype: string nullable\n\n**http_code**: The HTTP status code returned by the URL  \ntype: integer\n\n**http_code_prev**: The HTTP status code returned by the URL  \ntype: integer nullable\n\n**http_header**: The HTTP headers that the web server returns  \ntype: array(string)\n\n**http_header_prev**: The HTTP headers that the web server returns  \ntype: array(string)\n\n**http_header_robots**: Instructions for web crawlers specified in HTTP headers  \ntype: array(string)\n\n**http_header_robots_prev**: Instructions for web crawlers specified in HTTP headers  \ntype: array(string)\n\n**http_headers_size**: The size of the HTTP headers that the web server returns, measured in bytes  \ntype: integer\n\n**http_headers_size_prev**: The size of the HTTP headers that the web server returns, measured in bytes  \ntype: integer nullable\n\n**images_no_crawl_reason**: The reasons why images linked from the page were not crawled  \ntype: array(string nullable)\n\n**images_no_crawl_reason_prev**: The reasons why images linked from the page were not crawled  \ntype: array(string nullable)\n\n**incoming_all_links**: The number of incoming links to the URL of all types  \ntype: integer nullable\n\n**incoming_all_links_diff**: The number of incoming links to the URL of all types  \ntype: integer nullable\n\n**incoming_all_links_prev**: The number of incoming links to the URL of all types  \ntype: integer nullable\n\n**incoming_canonical**: Shows how many times the URL is linked to from a rel=\"canonical\" element  \ntype: integer nullable\n\n**incoming_canonical_prev**: Shows how many times the URL is linked to from a rel=\"canonical\" element  \ntype: integer nullable\n\n**incoming_css**: The number of incoming links to the CSS file  \ntype: integer nullable\n\n**incoming_css_prev**: The number of incoming links to the CSS file  \ntype: integer nullable\n\n**incoming_follow**: The number of incoming dofollow links to the URL from hyperlinks  \ntype: integer nullable\n\n**incoming_follow_prev**: The number of incoming dofollow links to the URL from hyperlinks  \ntype: integer nullable\n\n**incoming_hreflang**: Shows how many times the URL is linked to from a rel=\"alternate\" hreflang=\"x\" attribute  \ntype: integer nullable\n\n**incoming_hreflang_prev**: Shows how many times the URL is linked to from a rel=\"alternate\" hreflang=\"x\" attribute  \ntype: integer nullable\n\n**incoming_image**: The number of incoming links to the image file  \ntype: integer nullable\n\n**incoming_image_prev**: The number of incoming links to the image file  \ntype: integer nullable\n\n**incoming_js**: The number of incoming links to the JS file  \ntype: integer nullable\n\n**incoming_js_prev**: The number of incoming links to the JS file  \ntype: integer nullable\n\n**incoming_links**: The number of incoming links to the URL from hyperlinks  \ntype: integer nullable\n\n**incoming_links_prev**: The number of incoming links to the URL from hyperlinks  \ntype: integer nullable\n\n**incoming_nofollow**: The number of incoming nofollow links to the URL from hyperlinks  \ntype: integer nullable\n\n**incoming_nofollow_prev**: The number of incoming nofollow links to the URL from hyperlinks  \ntype: integer nullable\n\n**incoming_pagination**: Shows how many times the URL is linked to from rel=\"prev\" or rel=\"next\" elements on pages  \ntype: integer nullable\n\n**incoming_pagination_prev**: Shows how many times the URL is linked to from rel=\"prev\" or rel=\"next\" elements on pages  \ntype: integer nullable\n\n**incoming_redirect**: The number of incoming redirecting links to the URL  \ntype: integer nullable\n\n**incoming_redirect_prev**: The number of incoming redirecting links to the URL  \ntype: integer nullable\n\n**indexnow_error**: The error description for a failed auto-submission  \ntype: string nullable\n\n**indexnow_error_prev**: The error description for a failed auto-submission  \ntype: string nullable\n\n**indexnow_reason**: The reason the page was considered for auto-submission to IndexNow  \ntype: string nullable\n\n**indexnow_reason_prev**: The reason the page was considered for auto-submission to IndexNow  \ntype: string nullable\n\n**indexnow_status**: The status of IndexNow auto-submission. Possible values:\n\n- **Success:** The page was successfully submitted to IndexNow.\n- **No changes detected:** No changes were detected on the page; submission was not required.\n- **Not eligible:** The URL isn't eligible for submission, e.g., it's not an indexable HTML page.\n- **Invalid API key:** IndexNow submission failed due to an invalid API key.\n- **Failed:** Submission to IndexNow failed; see details for the reason.\n- **Auto-submission is off:** Automatic submission is disabled in Crawl settings  \ntype: string nullable\n\n**indexnow_status_prev**: The status of IndexNow auto-submission. Possible values:\n\n- **Success:** The page was successfully submitted to IndexNow.\n- **No changes detected:** No changes were detected on the page; submission was not required.\n- **Not eligible:** The URL isn't eligible for submission, e.g., it's not an indexable HTML page.\n- **Invalid API key:** IndexNow submission failed due to an invalid API key.\n- **Failed:** Submission to IndexNow failed; see details for the reason.\n- **Auto-submission is off:** Automatic submission is disabled in Crawl settings  \ntype: string nullable\n\n**indexnow_submitted_at**: The date and time when the URL was auto-submitted to IndexNow  \ntype: date nullable\n\n**internal**: Indicates that the URL is internal. An internal URL is a page or resource located on the crawled domain or its subdomains (depending on the scope of your project)  \ntype: boolean\n\n**internal_code**: The list of HTTP status codes returned by the internal URLs linked to from the page  \ntype: array(integer nullable)\n\n**internal_code_prev**: The list of HTTP status codes returned by the internal URLs linked to from the page  \ntype: array(integer nullable)\n\n**internal_link_anchor**: The list of anchor texts used in internal outgoing links on the page  \ntype: array(string nullable)\n\n**internal_link_anchor_prev**: The list of anchor texts used in internal outgoing links on the page  \ntype: array(string nullable)\n\n**internal_link_domain**: The domain (or its subdomains, depending on the scope of the crawl) linked to from internal outgoing links on the page  \ntype: array(domain)\n\n**internal_link_domain_prev**: The domain (or its subdomains, depending on the scope of the crawl) linked to from internal outgoing links on the page  \ntype: array(domain)\n\n**internal_links**: The list of internal outgoing links on the page  \ntype: array(url)\n\n**internal_links_is_canonical**: Indicates whether the target page tags itself as the canonical version to be shown in search results. A page is considered as canonical when it doesn't refer to any other pages as canonical  \ntype: array(boolean nullable)\n\n**internal_links_is_canonical_prev**: Indicates whether the target page tags itself as the canonical version to be shown in search results. A page is considered as canonical when it doesn't refer to any other pages as canonical  \ntype: array(boolean nullable)\n\n**internal_links_prev**: The list of internal outgoing links on the page  \ntype: array(url)\n\n**internal_no_crawl_reason**: The reasons why the internal URLs linked to from the page were not crawled  \ntype: array(string nullable)\n\n**internal_no_crawl_reason_prev**: The reasons why the internal URLs linked to from the page were not crawled  \ntype: array(string nullable)\n\n**internal_prev**: Indicates that the URL is internal. An internal URL is a page or resource located on the crawled domain or its subdomains (depending on the scope of your project)  \ntype: boolean nullable\n\n**internal_scheme**: The protocols of the internal outgoing links on the page  \ntype: array(string)\n\n**internal_scheme_prev**: The protocols of the internal outgoing links on the page  \ntype: array(string)\n\n**is_html**: Indicates that the content type of the web document is HTML  \ntype: boolean\n\n**is_html_prev**: Indicates that the content type of the web document is HTML  \ntype: boolean nullable\n\n**is_in_sitemap**: Indicates that the URL is included in the website's sitemap file  \ntype: boolean nullable\n\n**is_in_sitemap_prev**: Indicates that the URL is included in the website's sitemap file  \ntype: boolean nullable\n\n**is_page_title_used_in_serp**: Indicates that the page and SERP titles match  \ntype: boolean nullable\n\n**is_redirect_loop**: Checks if the URL has a redirect loop  \ntype: boolean nullable\n\n**is_redirect_loop_prev**: Checks if the URL has a redirect loop  \ntype: boolean nullable\n\n**is_rendered**: Indicates that the crawler had executed JavaScript on the page to generate content  \ntype: boolean nullable\n\n**is_rendered_prev**: Indicates that the crawler had executed JavaScript on the page to generate content  \ntype: boolean nullable\n\n**is_valid_internal_html**: The HTML page on the crawled domain or its subdomain that returns a 200 HTTP status code  \ntype: boolean\n\n**is_valid_internal_html_prev**: The HTML page on the crawled domain or its subdomain that returns a 200 HTTP status code  \ntype: boolean nullable\n\n**js_no_crawl_reason**: The reasons why JavaScript files linked from the page were not crawled  \ntype: array(string nullable)\n\n**js_no_crawl_reason_prev**: The reasons why JavaScript files linked from the page were not crawled  \ntype: array(string nullable)\n\n**jsonld_properties**: Names of the schema properties found on the page  \ntype: array(string)\n\n**jsonld_properties_prev**: Names of the schema properties found on the page  \ntype: array(string)\n\n**jsonld_schema_types**: Schema objects found on the page  \ntype: array(string)\n\n**jsonld_schema_types_prev**: Schema objects found on the page  \ntype: array(string)\n\n**jsonld_validation_kinds**: Issues with the structured data found on the page  \ntype: array(string)\n\n**jsonld_validation_kinds_prev**: Issues with the structured data found on the page  \ntype: array(string)\n\n**jsonld_values**: Values of the schema properties found on the page  \ntype: array(string)\n\n**jsonld_values_prev**: Values of the schema properties found on the page  \ntype: array(string)\n\n**keywords**: The page meta keywords  \ntype: array(string)\n\n**keywords_prev**: The page meta keywords  \ntype: array(string)\n\n**length**: The character length of the URL  \ntype: integer\n\n**length_prev**: The character length of the URL  \ntype: integer nullable\n\n**links_count_css**: The number of CSS files linked from the page  \ntype: integer nullable\n\n**links_count_css_prev**: The number of CSS files linked from the page  \ntype: integer nullable\n\n**links_count_external**: The number of external outgoing links on the page  \ntype: integer nullable\n\n**links_count_external3xx**: The number of external outgoing links on the page pointing to URLs that return one of the 3xx (redirection) HTTP status codes  \ntype: integer nullable\n\n**links_count_external3xx_prev**: The number of external outgoing links on the page pointing to URLs that return one of the 3xx (redirection) HTTP status codes  \ntype: integer nullable\n\n**links_count_external4xx**: The number of external outgoing links on the page pointing to URLs that return one of the 4xx (client error) HTTP status codes  \ntype: integer nullable\n\n**links_count_external4xx_prev**: The number of external outgoing links on the page pointing to URLs that return one of the 4xx (client error) HTTP status codes  \ntype: integer nullable\n\n**links_count_external5xx**: The number of external outgoing links on the page pointing to URLs that return one of the 5xx (server error) HTTP status codes  \ntype: integer nullable\n\n**links_count_external5xx_prev**: The number of external outgoing links on the page pointing to URLs that return one of the 5xx (server error) HTTP status codes  \ntype: integer nullable\n\n**links_count_external_follow**: The number of external outgoing dofollow links on the page  \ntype: integer nullable\n\n**links_count_external_follow_prev**: The number of external outgoing dofollow links on the page  \ntype: integer nullable\n\n**links_count_external_nofollow**: The number of external outgoing nofollow links on the page  \ntype: integer nullable\n\n**links_count_external_nofollow_prev**: The number of external outgoing nofollow links on the page  \ntype: integer nullable\n\n**links_count_external_non_canonical**: The number of external outgoing links on the page that point to non-canonical pages  \ntype: integer nullable\n\n**links_count_external_non_canonical_prev**: The number of external outgoing links on the page that point to non-canonical pages  \ntype: integer nullable\n\n**links_count_external_xxx**: The number of external outgoing links on the page pointing to URLs that return HTTP status codes other than 2xx, 3xx, 4xx, 5xx or return no status code  \ntype: integer nullable\n\n**links_count_external_xxx_prev**: The number of external outgoing links on the page pointing to URLs that return HTTP status codes other than 2xx, 3xx, 4xx, 5xx or return no status code  \ntype: integer nullable\n\n**links_count_images**: The number of images linked from the page  \ntype: integer nullable\n\n**links_count_images_prev**: The number of images linked from the page  \ntype: integer nullable\n\n**links_count_images_with_alt**: The number of images linked from the page that have an alt attribute (alternate text)  \ntype: integer nullable\n\n**links_count_images_with_alt_prev**: The number of images linked from the page that have an alt attribute (alternate text)  \ntype: integer nullable\n\n**links_count_images_without_alt**: The number of images linked from the page that have no alt attribute (alternate text)  \ntype: integer nullable\n\n**links_count_images_without_alt_prev**: The number of images linked from the page that have no alt attribute (alternate text)  \ntype: integer nullable\n\n**links_count_internal**: The number of internal outgoing links on the page  \ntype: integer nullable\n\n**links_count_internal3xx**: The number of internal outgoing links on the page pointing to URLs that return one of the 3xx (redirection) HTTP status codes  \ntype: integer nullable\n\n**links_count_internal3xx_prev**: The number of internal outgoing links on the page pointing to URLs that return one of the 3xx (redirection) HTTP status codes  \ntype: integer nullable\n\n**links_count_internal4xx**: The number of internal outgoing links on the page pointing to URLs that return one of the 4xx (client error) HTTP status codes  \ntype: integer nullable\n\n**links_count_internal4xx_prev**: The number of internal outgoing links on the page pointing to URLs that return one of the 4xx (client error) HTTP status codes  \ntype: integer nullable\n\n**links_count_internal5xx**: The number of internal outgoing links on the page pointing to URLs that return one of the 5xx (server error) HTTP status codes  \ntype: integer nullable\n\n**links_count_internal5xx_prev**: The number of internal outgoing links on the page pointing to URLs that return one of the 5xx (server error) HTTP status codes  \ntype: integer nullable\n\n**links_count_internal_follow**: The number of internal outgoing dofollow links on the page  \ntype: integer nullable\n\n**links_count_internal_follow_prev**: The number of internal outgoing dofollow links on the page  \ntype: integer nullable\n\n**links_count_internal_nofollow**: The number of internal outgoing nofollow links on the page  \ntype: integer nullable\n\n**links_count_internal_nofollow_prev**: The number of internal outgoing nofollow links on the page  \ntype: integer nullable\n\n**links_count_internal_non_canonical**: The number of internal outgoing links on the page that point to non-canonical pages  \ntype: integer nullable\n\n**links_count_internal_non_canonical_prev**: The number of internal outgoing links on the page that point to non-canonical pages  \ntype: integer nullable\n\n**links_count_internal_xxx**: The number of internal outgoing links on the page pointing to URLs that return HTTP status codes other than 2xx, 3xx, 4xx, 5xx or return no status code  \ntype: integer nullable\n\n**links_count_internal_xxx_prev**: The number of internal outgoing links on the page pointing to URLs that return HTTP status codes other than 2xx, 3xx, 4xx, 5xx or return no status code  \ntype: integer nullable\n\n**links_count_js**: The number of JavaScript files linked from the page  \ntype: integer nullable\n\n**links_count_js_prev**: The number of JavaScript files linked from the page  \ntype: integer nullable\n\n**links_css**: The list of CSS files linked from the page  \ntype: array(url)\n\n**links_css_code**: The list of HTTP status codes returned by CSS files linked from the page  \ntype: array(integer nullable)\n\n**links_css_code_prev**: The list of HTTP status codes returned by CSS files linked from the page  \ntype: array(integer nullable)\n\n**links_css_domain**: The list of domains that contain CSS files linked from the page  \ntype: array(domain)\n\n**links_css_domain_prev**: The list of domains that contain CSS files linked from the page  \ntype: array(domain)\n\n**links_css_prev**: The list of CSS files linked from the page  \ntype: array(url)\n\n**links_css_scheme**: The protocols of CSS files linked from the page  \ntype: array(string)\n\n**links_css_scheme_prev**: The protocols of CSS files linked from the page  \ntype: array(string)\n\n**links_external3xx**: The list of external outgoing links on the page pointing to URLs that return one of the 3xx (redirection) HTTP status codes  \ntype: array(url)\n\n**links_external3xx_code**: The list of HTTP status codes returned by the external URLs linked from the page (3xx)  \ntype: array(integer nullable)\n\n**links_external3xx_code_prev**: The list of HTTP status codes returned by the external URLs linked from the page (3xx)  \ntype: array(integer nullable)\n\n**links_external3xx_prev**: The list of external outgoing links on the page pointing to URLs that return one of the 3xx (redirection) HTTP status codes  \ntype: array(url)\n\n**links_external4xx**: The list of external outgoing links on the page pointing to URLs that return one of the 4xx (client error) HTTP status codes  \ntype: array(url)\n\n**links_external4xx_code**: The list of HTTP status codes returned by the external URLs linked from the page (4xx)  \ntype: array(integer nullable)\n\n**links_external4xx_code_prev**: The list of HTTP status codes returned by the external URLs linked from the page (4xx)  \ntype: array(integer nullable)\n\n**links_external4xx_prev**: The list of external outgoing links on the page pointing to URLs that return one of the 4xx (client error) HTTP status codes  \ntype: array(url)\n\n**links_external5xx**: The list of external outgoing links on the page pointing to URLs that return one of the 5xx (server error) HTTP status codes  \ntype: array(url)\n\n**links_external5xx_code**: The list of HTTP status codes returned by the external URLs linked from the page (5xx)  \ntype: array(integer nullable)\n\n**links_external5xx_code_prev**: The list of HTTP status codes returned by the external URLs linked from the page (5xx)  \ntype: array(integer nullable)\n\n**links_external5xx_prev**: The list of external outgoing links on the page pointing to URLs that return one of the 5xx (server error) HTTP status codes  \ntype: array(url)\n\n**links_external_follow**: The list of external outgoing dofollow links on the page  \ntype: array(url)\n\n**links_external_follow_code**: The list of HTTP status codes returned by the external dofollow URLs linked from the page  \ntype: array(integer nullable)\n\n**links_external_follow_code_prev**: The list of HTTP status codes returned by the external dofollow URLs linked from the page  \ntype: array(integer nullable)\n\n**links_external_follow_prev**: The list of external outgoing dofollow links on the page  \ntype: array(url)\n\n**links_external_nofollow**: The list of external outgoing nofollow links on the page  \ntype: array(url)\n\n**links_external_nofollow_code**: The list of HTTP status codes returned by the external nofollow URLs linked from the page  \ntype: array(integer nullable)\n\n**links_external_nofollow_code_prev**: The list of HTTP status codes returned by the external nofollow URLs linked from the page  \ntype: array(integer nullable)\n\n**links_external_nofollow_prev**: The list of external outgoing nofollow links on the page  \ntype: array(url)\n\n**links_external_non_canonical**: The list of external outgoing links on the page that point to non-canonical pages  \ntype: array(url)\n\n**links_external_non_canonical_code**: The list of HTTP status codes returned by the external URLs linked from the page (NonCanonical)  \ntype: array(integer nullable)\n\n**links_external_non_canonical_code_prev**: The list of HTTP status codes returned by the external URLs linked from the page (NonCanonical)  \ntype: array(integer nullable)\n\n**links_external_non_canonical_prev**: The list of external outgoing links on the page that point to non-canonical pages  \ntype: array(url)\n\n**links_external_xxx**: The number of external outgoing links on the page pointing to URLs that return HTTP status codes other than 2xx, 3xx, 4xx, 5xx or return no status code  \ntype: array(url)\n\n**links_external_xxx_code**: The list of HTTP status codes returned by the external URLs linked from the page (Xxx)  \ntype: array(integer nullable)\n\n**links_external_xxx_code_prev**: The list of HTTP status codes returned by the external URLs linked from the page (Xxx)  \ntype: array(integer nullable)\n\n**links_external_xxx_prev**: The number of external outgoing links on the page pointing to URLs that return HTTP status codes other than 2xx, 3xx, 4xx, 5xx or return no status code  \ntype: array(url)\n\n**links_hreflang_code**: The list of HTTP status codes returned by the URLs specified in hreflang tags on the page  \ntype: array(integer nullable)\n\n**links_hreflang_code_prev**: The list of HTTP status codes returned by the URLs specified in hreflang tags on the page  \ntype: array(integer nullable)\n\n**links_images**: The list of images linked from the page  \ntype: array(url)\n\n**links_images_alt**: The list of alternate texts of images linked from the page  \ntype: array(string nullable)\n\n**links_images_alt_prev**: The list of alternate texts of images linked from the page  \ntype: array(string nullable)\n\n**links_images_code**: The list of HTTP status codes returned by images linked from the page  \ntype: array(integer nullable)\n\n**links_images_code_prev**: The list of HTTP status codes returned by images linked from the page  \ntype: array(integer nullable)\n\n**links_images_domain**: The list of domains that contain images linked from the page  \ntype: array(domain)\n\n**links_images_domain_prev**: The list of domains that contain images linked from the page  \ntype: array(domain)\n\n**links_images_prev**: The list of images linked from the page  \ntype: array(url)\n\n**links_images_scheme**: The protocols of images linked from the page  \ntype: array(string)\n\n**links_images_scheme_prev**: The protocols of images linked from the page  \ntype: array(string)\n\n**links_images_with_alt**: The list of images linked from the page that have an alt attribute (alternate text)  \ntype: array(url)\n\n**links_images_with_alt_code**: The list of HTTP status codes returned by images linked from the page that have an alt attribute (alternate text)  \ntype: array(integer nullable)\n\n**links_images_with_alt_code_prev**: The list of HTTP status codes returned by images linked from the page that have an alt attribute (alternate text)  \ntype: array(integer nullable)\n\n**links_images_with_alt_prev**: The list of images linked from the page that have an alt attribute (alternate text)  \ntype: array(url)\n\n**links_images_without_alt**: The list of images linked from the page that have no alt attribute (alternate text)  \ntype: array(url)\n\n**links_images_without_alt_code**: The list of HTTP status codes returned by images linked from the page that have no alt attribute (alternate text)  \ntype: array(integer nullable)\n\n**links_images_without_alt_code_prev**: The list of HTTP status codes returned by images linked from the page that have no alt attribute (alternate text)  \ntype: array(integer nullable)\n\n**links_images_without_alt_prev**: The list of images linked from the page that have no alt attribute (alternate text)  \ntype: array(url)\n\n**links_internal3xx**: The list of internal outgoing links on the page pointing to URLs that return one of the 3xx (redirection) HTTP status codes  \ntype: array(url)\n\n**links_internal3xx_code**: The list of HTTP status codes returned by the internal URLs linked from the page (3xx)  \ntype: array(integer nullable)\n\n**links_internal3xx_code_prev**: The list of HTTP status codes returned by the internal URLs linked from the page (3xx)  \ntype: array(integer nullable)\n\n**links_internal3xx_prev**: The list of internal outgoing links on the page pointing to URLs that return one of the 3xx (redirection) HTTP status codes  \ntype: array(url)\n\n**links_internal4xx**: The list of internal outgoing links on the page pointing to URLs that return one of the 4xx (client error) HTTP status codes  \ntype: array(url)\n\n**links_internal4xx_code**: The list of HTTP status codes returned by the internal URLs linked from the page (4xx)  \ntype: array(integer nullable)\n\n**links_internal4xx_code_prev**: The list of HTTP status codes returned by the internal URLs linked from the page (4xx)  \ntype: array(integer nullable)\n\n**links_internal4xx_prev**: The list of internal outgoing links on the page pointing to URLs that return one of the 4xx (client error) HTTP status codes  \ntype: array(url)\n\n**links_internal5xx**: The list of internal outgoing links on the page pointing to URLs that return one of the 5xx (server error) HTTP status codes  \ntype: array(url)\n\n**links_internal5xx_code**: The list of HTTP status codes returned by the internal URLs linked from the page (5xx)  \ntype: array(integer nullable)\n\n**links_internal5xx_code_prev**: The list of HTTP status codes returned by the internal URLs linked from the page (5xx)  \ntype: array(integer nullable)\n\n**links_internal5xx_prev**: The list of internal outgoing links on the page pointing to URLs that return one of the 5xx (server error) HTTP status codes  \ntype: array(url)\n\n**links_internal_follow**: The list of internal outgoing dofollow links on the page  \ntype: array(url)\n\n**links_internal_follow_code**: The list of HTTP status codes returned by the internal dofollow URLs linked from the page  \ntype: array(integer nullable)\n\n**links_internal_follow_code_prev**: The list of HTTP status codes returned by the internal dofollow URLs linked from the page  \ntype: array(integer nullable)\n\n**links_internal_follow_prev**: The list of internal outgoing dofollow links on the page  \ntype: array(url)\n\n**links_internal_nofollow**: The list of internal outgoing nofollow links on the page  \ntype: array(url)\n\n**links_internal_nofollow_code**: The list of HTTP status codes returned by the internal nofollow URLs linked from the page  \ntype: array(integer nullable)\n\n**links_internal_nofollow_code_prev**: The list of HTTP status codes returned by the internal nofollow URLs linked from the page  \ntype: array(integer nullable)\n\n**links_internal_nofollow_prev**: The list of internal outgoing nofollow links on the page  \ntype: array(url)\n\n**links_internal_non_canonical**: The list of internal outgoing links on the page that point to non-canonical pages  \ntype: array(url)\n\n**links_internal_non_canonical_code**: The list of HTTP status codes returned by the internal URLs linked from the page (non-canonical)  \ntype: array(integer nullable)\n\n**links_internal_non_canonical_code_prev**: The list of HTTP status codes returned by the internal URLs linked from the page (non-canonical)  \ntype: array(integer nullable)\n\n**links_internal_non_canonical_prev**: The list of internal outgoing links on the page that point to non-canonical pages  \ntype: array(url)\n\n**links_internal_xxx**: The list of internal outgoing links on the page pointing to URLs that return HTTP status codes other than 2xx, 3xx, 4xx, 5xx or return no status code  \ntype: array(url)\n\n**links_internal_xxx_code**: The list of HTTP status codes returned by the internal URLs linked from the page (Xxx)  \ntype: array(integer nullable)\n\n**links_internal_xxx_code_prev**: The list of HTTP status codes returned by the internal URLs linked from the page (Xxx)  \ntype: array(integer nullable)\n\n**links_internal_xxx_prev**: The list of internal outgoing links on the page pointing to URLs that return HTTP status codes other than 2xx, 3xx, 4xx, 5xx or return no status code  \ntype: array(url)\n\n**links_js**: The list of JavaScript files linked from the page  \ntype: array(url)\n\n**links_js_code**: The list of HTTP status codes returned by JavaScript files linked from the page  \ntype: array(integer nullable)\n\n**links_js_code_prev**: The list of HTTP status codes returned by JavaScript files linked from the page  \ntype: array(integer nullable)\n\n**links_js_domain**: The list of domains that contain JavaScript files linked from the page  \ntype: array(domain)\n\n**links_js_domain_prev**: The list of domains that contain JavaScript files linked from the page  \ntype: array(domain)\n\n**links_js_prev**: The list of JavaScript files linked from the page  \ntype: array(url)\n\n**links_js_scheme**: The protocols of JavaScript files linked from the page  \ntype: array(string)\n\n**links_js_scheme_prev**: The protocols of JavaScript files linked from the page  \ntype: array(string)\n\n**loading_time**: The time it takes for the crawler to load the full content of the document, measured in milliseconds  \ntype: integer nullable\n\n**loading_time_diff**: The time it takes for the crawler to load the full content of the document, measured in milliseconds  \ntype: integer null
[...]
